.Footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(25, 24, 24);
  color: rgb(177, 174, 174);
  text-align: center;
  padding:1rem;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .intro {
    height: 20%;
    width: auto;
    padding: 1rem;
    background-color: gold;
    text-align: center;
    font-size: 80px;
  }
  .box {
    margin: 0px 100px 0px 100px;
    padding: 50px 50px 100px 50px;
    height: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}