.gallery {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 20rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0.5rem;
  background: rgb(255, 255, 255);
  text-align: center;
}
img {
  width: 20rem;
  height: 20rem;
  border-radius: 5px 5px 0 0;
}
.bookname {
  text-align: center;

  padding-top: 0.5rem;
  font-family: cursive;
}

@media only screen and (min-width: 600px) {
  .card {
    text-align: center;
  }
  img {
    width: 90%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .gallery {
    justify-content: center;
  }
  .card {
    margin-right: none;
  }
  img {
    width: 90%;
    padding-top: 0.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  img {
    width: 80%;
    padding-top: 0.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
