.banner {
  height: 50%;
  width: auto;
  padding: 1rem;
  background-color: gold;
  text-align: center;
  font-size: 100px;
}
.label {
  font-size: xx-large;
  text-align: center;
  margin: 0px 0px 50px 0px;
  font-weight: 700;
  color: darkslategray;
}
.box {
  margin: 0px 150px 0px 150px;
  padding-right: 100px;
  padding-left: 200px;
  height: auto;
}
li {
  list-style: none;
}

a {
  font-style: none;
  color: black;
  text-decoration: none;
  list-style: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .banner {
    height: 20%;
    width: auto;
    padding: 1rem;
    background-color: gold;
    text-align: center;
    font-size: 80px;
  }
  .box {
    margin: 0px;
    padding: 2rem 1rem 2rem 1rem;
    height: auto;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {
 
}*/

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {
}*/

/*Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {
}*/

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {
}*/
